{% load static %}
  
<link rel="stylesheet" type="text/css" href="{% static 'squirrel/bg.css' %}">


<html>
	<head>
		<title> This is {{ sightings.unique_squirrel_ID }} details page</title>
	</head>

	<body>
		<ul>
			<li>Latitude: {{ squirrels.latitude }}</li>
			<li>Longtitude: {{ squirrels.longitude }}</li>
			<li>Unique_Squirrel_ID: {{ squirrels.unique_squirrel_ID }}</li>
			<li>Shift: {{ squirrels.shift }}</li>
			<li>Date: {{ squirrels.date }}</li>
			<li>Age: {{ squirrels.age }}</li>
			<li>Primary Fur Color: {{ squirrels.primary_fur_color }}</li>
			<li>Location: {{ squirrels.Location }}</li>
			<li>Specific Location: {{ squirrels.specific_location }}</li>
			<li>Running: {{ squirrels.running }}</li>
			<li>Chasing: {{ squirrels.chasing }}</li>
			<li>Climbing: {{ squirrels.climbing }}</li>
			<li>Eating: {{ squirrels.eating }}</li>
			<li>Foraging: {{ squirrels.foraging }}</li>
			<li>Other Activities: {{ squirrels.other_activities }}</li>
			<li>Kuks: {{ squirrels.kuks }}</li>
			<li>Quaas: {{ squirrels.quaas }}</li>
			<li>Moans: {{ squirrels.moans }}</li>
			<li>Tail Flags: {{ squirrels.tail_flags }}</li>
			<li>Tail Twitches: {{ squirrels.tail_twitches }}</li>
			<li>Approaches: {{ squirrels.approaches }}</li>
			<li>Indifferent: {{ squirrels.indifferent }}</li>
			<li>Runs From: {{ squirrels.runs_from }}</li>
		</ul>

		<br>
		<a href='/sightings/{{squirrels.unique_squirrel_ID}}/'>Update info</a><br>
		<a href='/sightings'> Go back to list</a>

	</body>
</html>
