{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'squirrel/bg.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sightings</title>
</head>
<body>
    <h1>Squirrel Sightings</h1>
    <h2>>Click to see the <a href="/sightings">list</a> of the sighting records.</h2>
    <h2>>Click to see the <a href="/map">map</a> of the sightings.</h2>
    <h2>>Click to <a href="/sightings/add">add</a> a sighting record.</h2>
    <h2>>Click to see the <a href="/sightings/stats">stats</a></h2>
</body>
</html>
