{% load static %}
  
<link rel="stylesheet" type="text/css" href="{% static 'squirrel/bg.css' %}">

<!DOCTYPE html>
<html>
<head>
        <title>Squirrel sightings</title>
    </head>

    <body>


        <h1>Squirrel sightings list</h1>
        <br>
	<a href='/sightings/stats'}>View the stats data</a>
	<br>
	<a href='/sightings/add'>Add new squirrel sighting</a>

        <h3>unique_squirrel_ID of all squirrels' sightings </h3>
            {%if sightings%}
                <ul>
                    {%for squirrels in sightings%}
		    <li>{{squirrels.unique_squirrel_ID}}
			<br>
			<a href='/sightings/{{squirrels.unique_squirrel_ID}}/'> Update the information about this squirrel </a>
			<br>
			<a href='/sightings/{{squirrels.unique_squirrel_ID}}/IDdetails'>  See details about this squirrel </a>
			</li>
		    {%endfor%}
                </ul>
            {% else %}
                <p>No sighting available, you can add some
		 <a href='/sightings/add'>Add new squirrel sighting</a>
		</p>
            {%endif%}

    </body>





<html/>
