{% load static %}
  
<link rel="stylesheet" type="text/css" href="{% static 'squirrel/bg.css' %}">


<!DOCTYPE html>
<html>
<head>
        <title> sighting stats </title>
</head>
<body>
<ul>
        <li>The total amount of sightings is {{Stat_1}}</li>
        <li>The amount of squirrels above ground is {{Stat_2}}</li>
        <li>The amount of adult squirrels is {{Stat_3}}</li>
	<li>The amount of cinnamon fur squirrels is {{Stat_4}}</li>
        <li>The amount of squirrels eating is {{Stat_5}}</li>
</ul>

</body>
</html>
