<style>
    { margin: 0; padding: 0; }

    html { 
        background: url('bg/squirrel_background.jpeg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
