<style>
    { margin: 0; padding: 0; }

    html { 
        background: url('https://lh3.googleusercontent.com/proxy/v0rRaL9GrdefiZT1OGamZXtvYRRWV2FRgjhR3SCZn7iFmVRHcmDgDinkoSYejpGaakEarcJKN-lJlLKV_PTqACDqzoTIVOSmtnTLw_Y0xRVwVE9Q0sNKQxn0v44VG92eqepI') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
